<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

  <style>
    body {
      background-color: #eeeeee;
      vertical-align: middle;
    }

    #form-layout {
      border-radius: 0%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
  <title>SmartToll 2.0</title>
</head>

<body>
  <!-- Navbar Begins -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">SmartToll 2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/registerContractor">Register Contractor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/driver">Driver<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/driver">Driver<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar Ends -->

  <!-- Form Begins -->
  <form method="POST" onsubmit="return validateForm()">
    <div class="container">
      <div class="row mt-5">
        <div id="form-layout" class="col-6 mx-auto">
          <div class="row mt-4">
            <div class="col-12">
              <h4 class="text-center">Farmer Login</h4>
              <hr />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6 mx-auto">
              <input class="form-control" type="text" name="phone" id="phone" placeholder="Mobile Number" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6 mx-auto">
              <input class="form-control" type="password" name="f_password" id="f_password" placeholder="Password" />
            </div>
          </div>
          <div class="row mt-4 mb-4">
            <div class="col-4 mx-auto">
              <input class="btn btn-block btn-success" type="submit" value="Login" />
            </div>
          </div>
          <div class="float-left">
            <div class="col-4 mx-auto">
              <a href="/resetPassword" class="btn btn-sm btn-link" role="button">Forgot Password?</a>
            </div>
          </div>
          <div class="row float-right">
            <div class="col-4 mx-auto">
              <a href="/register" class="btn btn-sm float-right btn-link" role="button">New
                Farmer? Signup
                Here!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
    function validateForm() {
      var phone = $('#phone').val();
      var f_password = $('#f_password').val();

      if (phone == '' || phone == null || phone == '' || phone == null) {
        alert("Please provide valid Mobile Number!");
        return false;
      }
      else if (f_password == '' || f_password == null) {
        alert("Please enter your password!");
        return false;
      }
    }
  </script>

</body>

</html>